
<%= week_calendar number_of_weeks: 2, events: @conclaves do |date, conclaves| %>
  <%= date.day %>

  <% conclaves.each do |conclave| %>
    <div>
      <%= link_to "#{conclave.format_start_time}, #{pluralize(conclave.duration.to_i, "hr")}: #{conclave.location}", conclave, class: "links"%>
    </div>
  <% end %>
<% end %>