<h1>About Oktuskar Apprenticery</h1>
<h2>founded 1715</h2>
<%= image_tag "site/bookshelf.jpg", class: "about-pic" %>
<br>
<br>
<h4>An offshoot of the honorable North American Ilvermorny school of Witchcraft and Wizardry, Oktuskar aims to further apprentice education through tutoring. Subjects offered for further study through Oktuskar are listed and described on our web-scroll here. The faculty were carefully selected from an abundant list of qualified applicants to ensure our Apprentices receive the utmost prestige in additional tutoring education. Apprentices of Oktuskar come from varied magical backgrounds and levels of understanding. 
<br>
Oktuskar's approach to learning has been proven over centuries and follows Ilvermorny's teaching philosophy. Our Professors have experience preparing novice Apprentices for upcoming tests, as well as challenging adept Apprentices for entrance exams or further personal interest studies. Upon creating a ledger here, Apprentices are expected to uphold their studies respectfully, and honor their commitments to their conclaves and Professors. Explore our offered subjects, and enroll if you hold extended studies in high esteem.</h4>