<h1>Welcome to Oktuskar Apprenticery</h1>
<h2>From Novice to Adept</h2>
<br>
<br>
<h3>Enhance your Magical talents by Apprenticing with our illustrious Professors. Achieve new heights of Magical proficiency through the famous tutelage of Oktuskar Apprenticery. Need to brush up on blurry topics or prepare for upcoming entrance exams? Oktuskar's got you covered! From neophyte concepts to advanced mystical education, students can schedule one-on-one conclaves with our knowledgeable faculty.</h3>
<br>
<h3><%= link_to "Browse our Professors", professors_path %></h3>
<br>
<h2>"Return" if you are a member, or "Enroll" to create a new ledger!</h2>
<h3><%= button_to "Return", return_path, method: :get %>    <%= button_to "Enroll", inter_path, method: :get %></h3>

