/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: goldenrod;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
.danger {
  color: red;
}
.message {
  color: green;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h1 {
  font-family: cursive;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: cursive;
  margin: auto;
  text-align: center;
  font-size: 40px;
}

h3 {
  font-family: cursive;
}

.writing-desk,
.about-pic,
.welcome-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  color: white;
  background-color: black;
  font-size: medium;
  font-family: cursive;
}

nav {
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  /*display: block;*/
  margin: 0;
  padding: 8px;
  font-family: Trattatello, fantasy;
  color: white;
  background-color: rgb(133, 117, 151);
  text-align: center;
}

