/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  min-height: 100vh;
  background: goldenrod;
  border: 3px solid black;
  border-radius: 10px;
}

.field_with_errors label {
  padding: 2px;
  color: red;
}
.danger {
  color: red;
}
.message {
  color: green;
}

/* Professor images */
.prof-img {
  border-radius: 9px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 25%;
}

h1 {
  border-color: white;
  border-radius: 10px;
  font-family: Trattatello, fantasy;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: Didot, serif;
  font-weight: 50;
  font-size: 10px;
  margin: auto;
  text-align: center;
  font-size: 25px;
}

h3 {
  font-family: Didot, serif;
  padding-left: 30px;
  font-size: 25px;
}

.about-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 8px;
}
.welcome-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  border-radius: 8px;
}
.subject {
  display: flex;
}
/* styles button_to things */
.button {
  color: white;
  background-color: black;
  font-size: medium;
  font-family: Didot, serif;
  border-radius: 8px;
  padding: 5px 10px;
}
.button:hover {
  color: black;
  background-color: white;
  font-size: medium;
  font-family: Didot, serif;
  border-radius: 8px;
}
.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
.nav li a {
  margin: 0 auto;
  display: block;
  background-color: black;
  color: rgb(253, 252, 252);
  padding: 0 12px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: rgb(143, 108, 142);
}
.links:link,
a:link {
  color: rgb(41, 24, 13);
  font-family: Didot, serif;
  font-size: 21px;
  border-radius: 7px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.links:visited,
a:visited {
  color: rgb(92, 79, 72);
  font-family: Didot, serif;
  font-size: 21px;
  border-radius: 7px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* mouse over link */
.links:hover,
a:hover {
  color: rgb(247, 246, 245);
  font-family: Didot, serif;
  font-size: 21px;
  border-radius: 7px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* selected link */
.links:active,
a:active {
  font-family: Didot, serif;
  color: black;
}

#writing-desk {
  width: 400px;
  border-radius: 9px;
}

.house-icon {
  width: 150px;
  border-radius: 20px;
}

.intermediate {
  display: flex;
  justify-content: center;
}

.intermediate .button {
  padding-right: 10px;
  padding-left: 10px;
}

.house-row {
  display: flex;
  justify-content: center;
}

.subjects {
  text-align: left;
}

.form {
  text-align: center;
}

.banner {
  border-radius: 9px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: 90%;
}
