/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: goldenrod;
  border: 3px solid black; 
  border-radius: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
.danger {
  color: red;
}
.message {
  color: green;
}

img {
  border-radius: 9px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

h1 {
  border-color: white;
  border-radius: 10px;
  font-family: Trattatello, fantasy;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: Didot, serif;
  font-weight: 50;
  font-size: 10px;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

h3 {
  font-family: Didot, serif;
  padding-left: 30px;
  font-size: 25px; 
}

.about-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 8px;
}
.welcome-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  border-radius: 8px;
}
/* styles button_to things */
.button {
  color: white;
  background-color: black;
  font-size: medium;
  font-family: Didot, serif;
  border-radius: 8px;
  padding: 5px 10px;
}
.button:hover {
  color: black;
  background-color: white;
  font-size: medium;
  font-family: Didot, serif;
  border-radius: 8px;
  padding: 5px 10px;
}
nav {
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  /*display: block;*/
  margin: 0;
  padding: 8px;
  font-family: Trattatello, fantasy;
  font-size: 18px;
  color: white;
  background-color: rgb(133, 117, 151);
  text-align: center;
}
/* unvisited link */
.links:link, a:link {
  color: rgb(41, 24, 13);
  font-family: Didot, serif;
  font-size: 21px;
  border-radius: 7px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* visited link */
.links:visited, a:visited {
  color: rgb(92, 79, 72);
  font-family: Didot, serif;
  font-size: 21px;
  border-radius: 7px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* mouse over link */
.links:hover, a:hover {
  color: rgb(247, 246, 245);
  font-family: Didot, serif;
  font-size: 21px;
  border-radius: 7px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* selected link */
.links:active, a:active {
  font-family: Didot, serif;
  color: black;
}

#writing-desk {
  width: 400px;
}

.house-icon {
  width: 150px; 
  border-radius: 20px;
}
