// Place all the styles related to the Apprentices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  font-family: cursive;
  margin: auto;
  padding: 30px;
}
h3 {
  margin: auto;
  padding: 20px;
}
p {
  font-family: cursive;
  font-size: large;
  padding-left: 30px;
}
.bin {
  background-image: asset-url("site/trash-can.png");
  background-color: transparent;
  background-size: contain;

  width: 20px;
  height: 20px;
}
.apprentice {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr
}
.app-column1 {
  text-align: left;
  width: 100%
}
.app-column2 { /* desk picture */
  display: block;
  text-align: center;
  object-fit: fill;
}
.app-column3 {
  text-align: left;
  width: 100%;
}
