// Place all the styles related to the Professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.prof-stuff {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.prof-image {
    border-radius: 9px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.prof-info {
    width: 100%;
    align-content: left;
}

/* styles button_to things */
.prof-button {
    color: white;
    background-color: black;
    font-size: medium;
    font-family: Didot, serif;
    border-radius: 8px;
    padding: 5px 10px;
}
.prof-button:hover {
    color: black;
    background-color: white;
    font-size: medium;
    font-family: Didot, serif;
    border-radius: 8px;
}

