<label>Name:</label><br>
<%= text_field_tag :name, @apprentice.name %><br>
<label>Username:</label><br>
<%= text_field_tag :username, @apprentice.username %><br>
<label>New Password:</label><br>
<%= password_field :password_digest, @apprentice.password_digest %><br>
<%= submit_tag "Submit", class: "button" %>
