<h1>Edit Apprentice:</h1>
<%= form_tag apprentice_path(@apprentice), method: "put" do %>
  <%= render 'form' %>
<% end %> <br>
<%= button_to "Delete apprentice", @apprentice, method: :delete, data: {confirm: "Are you sure?"} %>
